
.item-side{
    border-bottom: 1px solid #1d1d1b;
}
.header-item-side{
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.span-header-side {
    padding-left: 20px;
    height: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}
.header-item-body-side{
    height: 100%;
    flex: 1;
    font-size: 20px;
    color: #ffffff;
    background-color: #323d70;
}
.header-item-body-side:hover, .header-item-body-side:hover + .button-moor-header-side{
    background-color: #222a4d;
}


.button-moor-header-side {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    background-color: #323d70;
    width: 10%; 
    height: 100%;
    border: none;
    cursor: pointer;
}
.button-moor-header-side:hover {
    color: #1d1d1b;
    background-color: #323d70;
}
.ul-item-side{
    margin: 0;
    margin-bottom: 20px;
}
.li-item-side{
    color: #ffffff;
    margin: 5px;
    list-style-type: none;
}
.li-item-side:hover{
    cursor: pointer;
    color:#6776bb;
    list-style-type: none;
}