.min-carrito-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 50px;
    background-color: #323d70;
    border: 0;
}

.min-carrito-container{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 25%);
}
.min-carrito-icon{
    grid-area: 1 / 1/ 5/ 5;
    width: 35px;
    height: 35px;
    color: #ffffff;
}
.min-carrito-info{
    grid-area: 1/ 3/ 2/ 5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    right: 8%;
    top: 0;
    background-color: #6776bb;
    color: #ffffff;
    border-radius: 10px;
}

.min-carrito-button:hover{
    background-color: #222a4d;
    color: #ffffff;
    cursor: pointer;
    border-radius: 30px;
}