.min-carrito-button{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 50px;
    background-color: #323d70;
    border: 0;
}
.min-carrito-icon{
    width: 35px;
    height: 35px;
    color: #ffffff;
}
.min-carrito-info{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 8%;
    top: 0;
    background-color: #6776bb;
    color: #ffffff;
    border-radius: 10px;
}

.min-carrito-button:hover{
    background-color: #222a4d;
    color: #ffffff;
    cursor: pointer;
    border-radius: 30px;
}