.min-carts-container{
    height: 300px;
    width: 80vw;
    display: flex;
    align-items: center;
}

.min-carts-container-body{
    width: 90%;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.min-carts-container-button{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 5%;
    background-color: #323D70;
    color: #ffffff;
    font-size: 35px;
}